<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo>
        <plugin filename="libgz_ros2_control-system.so" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
            <ros>
                <namespace>/controller_manager</namespace>
            </ros>
            <parameters>$(find arm_gazebo)/params/arm_controllers.yaml</parameters>
        </plugin>
    </gazebo>

</robot>